<p class="text-gray fs-6 mb-4">MENU</p>
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-primary shadow-dark text-center text-light border-radius-xl mt-n4 position-absolute">
                    <i class="fa-solid fa-pen-to-square fa-xl mt-3"></i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Publish</p>
                    <h4 class="mb-0"><a class="stretched-link" href="~/api">新規発行</a></h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">新たにXXXを発行する場合はこちら</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-info shadow-dark text-center text-light border-radius-xl mt-n4 position-absolute">
                    <i class="fa-solid fa-magnifying-glass fa-xl mt-3"></i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Search</p>
                    <h4 class="mb-0"><a class="stretched-link" href="~/api">検索</a></h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">発行済のXXXを照会する場合はこちら</p>
            </div>
        </div>
    </div>
</div>
<p class="text-gray fs-6 mb-4 mt-3">SETTING</p>
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-success shadow-dark text-center text-light border-radius-xl mt-n4 position-absolute">
                    <i class="fa-solid fa-user-gear fa-xl mt-3"></i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">User Configuration</p>
                    <h4 class="mb-0"><a class="stretched-link" href="~/api">ユーザー設定</a></h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">ユーザー個別の設定ははこちら</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-warning shadow-dark text-center text-light border-radius-xl mt-n4 position-absolute">
                    <i class="fa-solid fa-users-gear fa-xl mt-3"></i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Shared Configuration</p>
                    <h4 class="mb-0"><a class="stretched-link" href="~/api">共通設定</a></h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">ユーザー共通の設定はこちら</p>
            </div>
        </div>
    </div>
</div>
<p class="text-gray fs-6 mb-4 mt-3">OTHER</p>
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-secondary shadow-dark text-center text-light border-radius-xl mt-n4 position-absolute">
                    <i class="fa-solid fa-comment-dots fa-xl mt-3"></i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Contact</p>
                    <h4 class="mb-0"><a class="stretched-link" href="~/api">問い合わせ</a></h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">要望・問い合わせはこちら</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-secondary shadow-dark text-center text-light border-radius-xl mt-n4 position-absolute">
                    <i class="fa-solid fa-lock fa-xl mt-3"></i>
                </div>
                <div class="text-end pt-1">
                    <p class="text-sm mb-0 text-capitalize">Only Administrator</p>
                    <h4 class="mb-0"><a class="stretched-link" href="~/api">管理者専用</a></h4>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
                <p class="mb-0">システム管理者専用メニューです</p>
            </div>
        </div>
    </div>
</div>
